In [1]:
import pandas as pd
from io import StringIO

csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
0.0,11.0,12.0'''

df = pd.read_csv(StringIO(csv_data))
df

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  0.0  11.0  12.0  NaN

In [2]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [3]:
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [4]:
df.dropna(axis=1)

     A     B
0  1.0   2.0
1  5.0   6.0
2  0.0  11.0

In [9]:
df.mean()

A    2.000000
B    6.333333
C    7.500000
D    6.000000
dtype: float64

In [8]:
from sklearn.impute import SimpleImputer
import numpy as np

imr = SimpleImputer(
    missing_values=np.nan, strategy='mean'
)

imr = imr.fit(df)
imputed_data = imr.transform(df.values)

imputed_data

C:\Users\tareg\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [ 0. , 11. , 12. ,  6. ]])